html, body {
    height: 100%;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.image {
    width: 70px;
    height: px;
    border-radius: 50%;
    object-fit: cover;
}